/* Main Page */
html {
    background-color: beige;
    font-family: serif;
}

body {
    margin: 0px;
}

header {
    padding: 12px;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr; 
}

footer {
    background-color: burlywood;
    margin-top: 24px;
    padding:  24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

main {
    max-width: 800px;
    margin: auto;

}

.main-page-book-review {
    background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
}

.main-page-book-review {
   display: grid;
   grid-template-columns: 350px 1fr;
}

.book-cover {
    width: 200px;
    height: auto;
    grid-row: 1 / span 5;
}

.book-title {
    font-weight: bold;
    font-size: 150%;
}

.book-rating {
    font-size: 125%;
}

.book-authors {
    color: dimgray;
}

/* Detail page*/

.detail-page-book-review {
    background-color: white;
    padding: 24px;
}
/* Create Page */ 
.textarea {
    border: 1px solid darkgrey;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
}

.button {
    padding: 12px;
    font-size: 110%;
}

.book-review-form {
    background-color: white;
    padding: 24px;
}